In [1]:
#assignment2 
import pandas as pd

In [2]:
Records='heart_failure_clinical_records_dataset.csv'
Rd = pd.read_csv(Records, encoding='ISO-8859-1',sep=',', decimal='.')

In [3]:
Rd.shape

(299, 13)

In [4]:
Rd.dtypes

age                         float64
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
DEATH_EVENT                   int64
dtype: object

In [14]:
Rd.head(300)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [7]:
print(Rd['DEATH_EVENT'].value_counts())

0    203
1     96
Name: DEATH_EVENT, dtype: int64

In [8]:
print(Rd['time'].value_counts())

250    7
187    7
10     6
186    6
107    6
      ..
97     1
96     1
86     1
77     1
285    1
Name: time, Length: 148, dtype: int64

In [9]:
print(Rd['smoking'].value_counts())

0    203
1     96
Name: smoking, dtype: int64

In [10]:
print(Rd['sex'].value_counts())

1    194
0    105
Name: sex, dtype: int64

In [11]:
print(Rd['serum_sodium'].value_counts())

136    40
137    38
140    35
134    32
138    23
139    22
135    16
132    14
141    12
142    11
133    10
130     9
145     9
144     5
131     5
143     3
127     3
128     2
129     2
146     1
113     1
116     1
126     1
125     1
124     1
121     1
148     1
Name: serum_sodium, dtype: int64

In [12]:
print(Rd['serum_creatinine'].value_counts())

1.00    50
1.10    32
0.90    32
0.80    24
1.20    24
1.30    20
0.70    19
1.18    11
1.70     9
1.40     9
1.83     8
1.60     6
2.10     5
1.90     5
1.50     5
1.80     4
0.60     4
2.30     3
2.70     3
2.50     3
3.50     2
3.00     2
2.40     2
3.80     1
0.75     1
3.20     1
9.40     1
4.00     1
0.50     1
6.10     1
4.40     1
3.70     1
2.90     1
9.00     1
5.00     1
6.80     1
3.40     1
2.20     1
5.80     1
2.00     1
Name: serum_creatinine, dtype: int64

In [13]:
print(Rd['platelets'].value_counts())

263358.03    25
228000.00     4
226000.00     4
235000.00     4
255000.00     4
             ..
448000.00     1
337000.00     1
229000.00     1
358000.00     1
310000.00     1
Name: platelets, Length: 176, dtype: int64

In [15]:
print(Rd['platelets'].max())

850000.0

In [16]:
print(Rd['platelets'].min())

25100.0

In [17]:
print(Rd['serum_creatinine'].max())

9.4

In [18]:
print(Rd['serum_creatinine'].min())

0.5

In [19]:
print(Rd['serum_sodium'].min())

113

In [20]:
print(Rd['serum_sodium'].max())

148

In [21]:
print(Rd['time'].max())
print(Rd['time'].min())

285
4